@import url("variables.css");
footer {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 30vh;
    position: relative;
}


.collor-pallete {
    width: 100%;
    position: absolute; /* Cambiamos la posición a absoluta */
    bottom: 0; /* Anclamos el elemento al fondo */
    background-color: black;
    display: flex;
    justify-content: space-around; /* Alinear los elementos en el centro horizontalmente */
    height: 30px;
}
.bar {
    background-color: aquamarine;
}
.blue {
    background-color: var(--primary-color);
}
.yellow {
    background-color: var(--secondary-color);
}
.gray {
    background-color: var(--third-color);
}