header {
    background-color: rgb(147, 116, 75);
    position: -webkit-sticky; /* Para soporte en Safari */
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    align-items: center;

    
}
nav {
    background-color: rgb(147, 116, 75);
}
header > nav > ul > li > a {
    color: white !important;
}