@import url("variables.css");
header {
    background-color: var(--secondary-color);
    position: -webkit-sticky; /* Para soporte en Safari */
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    text-align: center;
    align-items: center;

    
}
nav {
    background-color: var(--secondary-color);

}
header > nav > ul > li > a {
    color: white !important;
}